*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000;
    /* 设置中间内容部分居中 */
    text-align: center;
    min-width: 930px;
}
.wrapper ul{
    /* 触发bfc避免margin塌陷问题 */
    display: inline-block;
}
.wrapper ul .item{
    float: left;
}
.wrapper ul .item .box{
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    /* 下面这种处理方式能够避免margin塌陷，上下边距中，如果下面的边距大于上边距就以下边距为准 */
    margin: 0 5px 10px;
}
.wrapper ul .item .box img{
    width: 100%;
}
.wrapper ul .item .box p{
    text-align: left;
}